<ion-header>
  <ion-toolbar>
    <ion-title>
      byStevenOssa
    </ion-title>
  </ion-toolbar>
  <ion-searchbar color="danger" placeholder="Buscar" (ionChange)="buscar( $event )"></ion-searchbar>

</ion-header>

<ion-content>
  <div>

    <ion-grid>
      <ion-row>
        <!--Fila1-->
        <ion-col>
          <ion-text color="danger">
            <p>CAMPUS</p>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text color="danger">
            <p>ESPACIO</p>
          </ion-text>
        </ion-col>
        <ion-col>
          <ion-text color="danger">
            <p>AUTOR</p>
          </ion-text>
        </ion-col>

      </ion-row>
      <!--Fila1-->

      <ion-row *ngFor="let agen of Agenda.agenda | filtro:textoBuscar; let i = index">
        <ion-col>
          {{agen.campus}}
        </ion-col>
        <ion-col>
          {{agen.espacio}}
        </ion-col>
        <ion-col>
          {{agen.autores[0].nombres}}
        </ion-col>

      </ion-row>
    </ion-grid>

  </div>
</ion-content>