<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Rest API
    </ion-title>
  </ion-toolbar>
<ion-searchbar animated (ionChange)="buscar( $event )"></ion-searchbar>

</ion-header>

<ion-content>
  <div class="ion-padding" >
  
  
    <ion-list class="list-group" *ngFor="let agen of Agenda.agenda | filtro:textoBuscar; let i = index">

      <ion-item>{{i+1}}:  {{agen.campus}}:  {{agen.espacio}}:  {{agen.autores[0].nombres}}</ion-item>
      


    </ion-list>
   
  </div>
</ion-content>
